@media(max-width: 900px) {

.bacgroud_fundo{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.bacgroud_mobal{
    position: fixed;
    top: 50%;
    width: 20rem;
    margin-left: 2rem;
    transform: translate(-50%, -50%);
    background-color: #2e2c29;
    border-radius: 1rem;
    
}



.conteudo{
    margin-top: 2rem;
    margin-left: 2rem;
}

.amodals{
    display: flex;
    margin-top: 2rem;
}

.amodals button{
    color: #f5f5f5;
    background: #0d0d0d;
    width: 12rem;
    border-radius: 2rem;
    font-size: 0.8rem;
}


.carrinho{
    color: #f5f5f5;
}

.amodals button:hover .carrinho{
    color: #000000;
}

.amodals button:hover{
    color: #000000;
    background: #C0C0C0;
}

.imgmodals{
    width: 13rem;
}

.modalsls p{
    margin-right: 2rem;
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: #4ea8de;
}

.modalsls img{
    margin-left: 1rem;
}


.modalbutton:hover{
    cursor: pointer;
    background: #ff8d8df3;
}

.modalbutton{
    border: none;
    background: none;
    text-align: left;
}



}

@media(min-width: 900px) {

    .bacgroud_fundo{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0.7);
        z-index: 1000;
    }
    
    .bacgroud_mobal{
        position: fixed;
        top: 50%;
        width: 60rem;
        margin-left: 40rem;
        transform: translate(-50%, -50%);
        background-color: #2e2c29;
        border-radius: 1rem;
    }
    
    
    
    .conteudo{
        margin-top: 2rem;
        margin-left: 4rem;
    }
    
    .amodals{
        margin-top: 2rem;
    }

    .amodals button{
        color: #f5f5f5;
        background: #0d0d0d;
        width: 12rem;
        border-radius: 2rem;
        font-size: 1.2rem;
    }

    .carrinho{
        color: #f5f5f5;
    }

    .amodals button:hover .carrinho{
        color: #000000;
    }

    .amodals button:hover{
        color: #000000;
        background: #C0C0C0;
    }

    .amodals img{
        width: 14rem;
    }

    .h2modal{
        color: #4ea8de;
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .imgmodals{
        width: 14rem;
    }
    
    .modalsls p{
        margin-right: 2rem;
        margin-top: 0.5rem;
        color: #4ea8de;
        text-align: center;
    }
    

    .modalsls img{
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    
    
    .modalbutton:hover{
        cursor: pointer;
        background: #ff8d8df3;
    }
    
    .modalbutton{
        border: none;
        background: none;
    }
    
    }