@media(max-width: 900px) {

.bacgroud_fundo{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.bacgroud_mobal{
    position: fixed;
    top: 50%;
    width: 20rem;
    margin-left: 12rem;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    border-radius: 1rem;
    color: black;
}



.conteudo{
    margin-top: 2rem;
    margin-left: 2rem;
}

.amodals{
    color: black;
    display: flex;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.imgmodals{
    width: 13rem;
}

.modalsls p{
    margin-right: 2rem;
    margin-top: 0.7rem;
    font-size: 0.9rem;
}

.modalsls img{
    margin-left: 1rem;
}


.modalbutton:hover{
    cursor: pointer;
    background: #ff8d8df3;
}

.modalbutton{
    border: none;
    background: none;
    text-align: left;
}



}

@media(min-width: 900px) {

    .bacgroud_fundo{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0.7);
        z-index: 1000;
    }
    
    .bacgroud_mobal{
        position: fixed;
        top: 50%;
        width: 60rem;
        margin-left: 60rem;
        transform: translate(-50%, -50%);
        background-color: #ffff;
        border-radius: 1rem;
        color: black;
    }
    
    
    
    .conteudo{
        margin-top: 2rem;
        margin-left: 4rem;
    }
    
    .amodals{
        color: black;
        margin-top: 2rem;
        font-size: 1.3rem;
        font-weight: 700;
    }

    .amodals:hover{
        color: #6a93e0;
    }
    
    .imgmodals{
        width: 14rem;
    }
    
    .modalsls p{
        margin-right: 2rem;
        margin-top: 0.5rem;
    }
    

    .modalsls img{
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    
    
    .modalbutton:hover{
        cursor: pointer;
        background: #ff8d8df3;
    }
    
    .modalbutton{
        border: none;
        background: none;
    }
    
    }