@media(max-width: 900px) {

.equipamentos {
    background: #D5CBFF;
}


.eqss {
    background: #FFF;
    border-radius: 1.875rem;
    width: 22rem;
    height: 110rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.eq{
    border-radius: 1.875rem;
    background: #F0F0F0;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.dp {
    color: #6D4CF3;
    font-family: Inter;        
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 3rem;
}

.dps{
    color: #331A98;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.eq img{
    width: 11rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

button{
    background: none;
    border: none;
}

button:hover{
    cursor: pointer;
    background: none;
}
}

@media(min-width: 900px) {
    .equipamentos {
        background: #D5CBFF;
        height: 116rem;
        
    }
    
    .eq{
        border-radius: 1.875rem;
        background: #F0F0F0;
        width: 28rem;
        height: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .eqs {
        background: #FFF;
        border-radius: 1.875rem;
        width: 86rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6rem;
        display: flex;
    }

    .eqss {
        background: #FFF;
        border-radius: 1.875rem;
        width: 86rem;
        height: 108rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
    }
    
    .dp {
        color: #6D4CF3;
        font-family: Inter;        
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 3rem;
    }
    
    .dps{
        color: #331A98;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .eq img{
        width: 17rem;
        margin-left: 6rem;
    }
     
    button{
        background: none;
        border: none;
    }

    button:hover{
        cursor: pointer;
        background: none;
    }
    
}