@media(max-width: 900px) {
    .funcionamento {
        background: #ffff;
        text-align: center;
    }
    
    .pfc {
        
        color: #14093E;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1fc {
        color: #6D4CF3;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    
    .fcconteudo{
        display: flex;
    }
    }

@media(min-width: 900px) {
    .funcionamento {
        background: #fff;
        text-align: center;
    }
    
    .pfc {
        
        color: #14093E;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1fc {
        color: #6D4CF3;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .fcconteudo{
        display: flex;
    }

    .fcconteudo img{
        width: 50rem;
        margin-right: 5rem;
    }
    
    .dpfc{
        margin-right: 6rem; 
        margin-left: 6rem;  
         
    }
}