@media(max-width: 900px) {
    .funcionamento {
        background: #0d0d0d;
        
    }
    
    .pfc {
        
        color: #8284FA;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
        text-align: center;
    }
    
    .h1fc {
        color: #8284FA;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }
    
    
    .fcconteudo{
        display: flex;
    }
    }

@media(min-width: 900px) {
    .funcionamento {
        background: #0d0d0d;
    }
    
    .pfc {
        text-align: center;
        color: #8284FA;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1fc {
        color: #8284FA;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }
    
    .fcconteudo{
        display: flex;
    }

    .fcconteudo img{
        width: 50rem;
        margin-right: 5rem;
    }
    
    .dpfc{
        margin-right: 6rem; 
        margin-left: 6rem;  
         
    }
}