@media(max-width: 900px) {
    .funcionamento {
        background: #D5CBFF;
    }
    
    .pfc {
        
        color: #14093E;
        font-family: Inter;
        font-size: 0.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1fc {
        color: #6D4CF3;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .fc{
        margin-top: 6rem;
        border-radius: 1.875rem;
        background: #FFF;
        width: 22rem;
        height: 66rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    .fcpimg img{
        width: 7rem;
        height: 6rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    }

@media(min-width: 900px) {
    .funcionamento {
        background: #D5CBFF;
        height: 52.5rem;
    }
    
    .pfc {
        
        color: #14093E;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1fc {
        color: #6D4CF3;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .fc{
        margin-top: 2rem;
        border-radius: 1.875rem;
        background: #FFF;
        width: 86.1875rem;
        height: 46rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .fcpimg{
        display: flex;
    }
    
    .fcpimg img{
        margin-top: 6rem;
        width: 15rem;
        height: 13rem;
        margin-right: 2rem;
    }
}