@media(max-width: 900px) {
    main {
    background: #0d0d0d;
}

.ph{
    margin-top: 1rem;
    font-family: Inter;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #8284FA;
    text-align: center;
}

p{
    margin-top: 1rem;
    font-family: Inter;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #8284FA;
    text-align: center;
}

h1{
    padding: 0.5rem;
    color: #8284FA;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

h2{
    padding: 1rem;
    color: #8284FA;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

h3{
    padding-bottom: 1rem;
    color: #8284FA;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.Navegacao {
    border-radius: 1.875rem;
    background: #0d0d0d;
    width: 20rem;
    height: 29rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.Navegacao img{
        margin-top: 2rem;
        height: 12rem;
        width: 12rem;
        margin-left: 4rem;
}

.btss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.Navegacao p{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.bts button{
    border-radius: 2.5rem;
    background: #4A2FB5;
    width: 12rem;
    height: 5rem;
    margin-top: 2.4rem;
}

button:hover {
    cursor: pointer;
    background: #C2B9E7;
}

button:hover a {
    cursor: pointer;
    color: #6a93e0;
}

.nos {
    border-radius: 1.875rem;
    background: #0d0d0d;
    width: 20rem;
    height: 64rem;
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}

.nos h1 {
    color: #8284FA;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dutra {
    width: 15rem;
    height: 18rem;
    border-radius: 2.5rem;
    background: #2e2c29;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.dg {
    width: 15rem;
    height: 18rem;
    border-radius: 2.5rem;
    background: #2e2c29;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


.pierre {
    width: 15rem;
    height: 18rem;
    border-radius: 2.5rem;
    background: #2e2c29;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.pierre img {
    width: 10rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
}

.dg img {
    width: 8rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
}

.dutra img {
    width: 12rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
}

.ah{
    font-size: 1.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    
}

.insta{
    color: #8284FA;
    margin-top: 0.8rem;
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
}

@media(min-width: 900px) {
    main {
        background: #0d0d0d;
        
    }
    
    .ph{
        margin-top: 0.8rem;
        font-family: Inter;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #8284FA;
        text-align: center;
    }

    p{
        margin-top: 0.8rem;
        font-family: Inter;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #8284FA;
        text-align: center;
    }
    
    h1{
        padding: 1.5rem;
        color: #8284FA;
        text-align: center;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    
    h2{
        padding: 2rem;
        color: #8284FA;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    
    h3{
        padding-bottom: 2rem;
        color: #8284FA;
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    
    
    .Navegacao {
        border-radius: 1.875rem;
        background: #0d0d0d;
        width: 77.8125rem;
        height: 34rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10rem;
        text-align: center;
    }
    
    .Navegacao img{
        margin-top: 2rem;
        height: 12rem;
        width: 22rem;
    }
    
    .btss {
        display: flex;
        flex-direction: row;
        padding: 3rem;
        margin-top: 3rem;
    }
    
    .bts button{
        border-radius: 2.5rem;
        background: #4A2FB5;
        width: 18rem;
        height: 12rem;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 5rem;
    }
    
    button:hover {
        cursor: pointer;
        background: #C2B9E7;
    }
    
    button:hover a {
        cursor: pointer;
        color: #6a93e0;
    }
    
    .nos {
        border-radius: 1.875rem;
        background: #0d0d0d;
        width: 77.8125rem;
        height: 31rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;   
    }
    
    .nos h1 {
        color: #8284FA;
        text-align: center;
    }
    
    .redes {
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }
    
    .dutra {
        width: 37rem;
        height: 21rem;
        border-radius: 2.5rem;
        background: #2e2c29;
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .dg {
        width: 37rem;
        height: 21rem;
        border-radius: 2.5rem;
        background: #2e2c29;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    
    .pierre {
        width: 37rem;
        height: 21rem;
        border-radius: 2.5rem;
        background: #2e2c29;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .pierre img {
        width: 12rem;
        height: 9rem;
        margin-left: 4rem;
    }
    
    .dg img {
        width: 9rem;
        height: 9rem;
        margin-left: 5rem;
    }
    
    .dutra img {
        width: 12rem;
        height: 9rem;
        margin-left: 4rem;
    }
    
    .ah{
        font-size: 2.3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        
    }
    
    .insta{
        color: #8284FA;
        margin-top: 0.8rem;
        font-family: Inter;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

