main {
    background: #D5CBFF;
    
}

p{
    margin-top: 0.8rem;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

h1{
    padding: 1.5rem;
    color: #6D4CF3;
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h2{
    padding: 2rem;
    color: #331A98;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    padding-bottom: 2rem;
    color: #5930FF;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tudo {
    border-radius: 30px;
    background: #FFF;
    width: 86.1875rem;
    height: 108rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2rem;
}

.Navegacao {
    border-radius: 1.875rem;
    background: #F0F0F0;
    width: 77.8125rem;
    height: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.btsss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    
}

.btss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    margin-top: 3rem;
}

.bts button{
    border-radius: 2.5rem;
    background: #4A2FB5;
    width: 18rem;
    height: 12rem;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button:hover {
    cursor: pointer;
    background: #C2B9E7;
}

.nos {
    border-radius: 1.875rem;
    background: #4A2FB5;
    width: 77.8125rem;
    height: 31rem;
    margin-left: auto;
    margin-right: auto;   
}

.nos h1 {
    color: #FFF;
}

.redes {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.dutra {
    width: 37rem;
    height: 21rem;
    border-radius: 2.5rem;
    background: #F0F0F0;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.dg {
    width: 37rem;
    height: 21rem;
    border-radius: 2.5rem;
    background: #F0F0F0;
    padding: 2rem;
    
}


.pierre {
    width: 37rem;
    height: 21rem;
    border-radius: 2.5rem;
    background: #F0F0F0;
    padding: 2rem;
}

.pierre img {
    width: 9rem;
    height: 9.2rem;
}

.dg img {
    width: 9rem;
    height: 9.2rem;
}

.dutra img {
    width: 9rem;
    height: 9.2rem;
}