.botao-menu {
    height: 4rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.botao-menu button{
    margin-left: 1.4rem;
    margin-top: 1rem;
    background: none;
    border: none;
}

.botao-menu a{
    margin-top: 1rem;
}

.menu {
    
    width: 12rem;
    height: 11rem;
    border-end-end-radius: 8rem;
    padding-right: 2rem;
    transition: translate .2s;
    background: #4A2FB5;
    position: absolute;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}   

.menu.close {
    translate: -100%;
}

.menu-desktop {
    display: none;
}


a{
    font-family: Inter;
    font-style: normal;
    color: #ffff;
    text-decoration: none;
}

.as{
    font-size: 1rem;
    width: 1rem;
}

.as:hover{
    color: #6a93e0;
}

.logo{
    width: 18rem;
}

.logo:hover{
    cursor: pointer;
}

header{
    display: flex;
}



@media(min-width: 900px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        font-family: Inter;
        font-style: normal;
        color: #ffff;
        text-decoration: none;
    }
    
    .as{
        font-size: 2.5rem;
        margin-left: 9rem;
    }
    
    .as:hover{
        color: #6a93e0;
        
    }
    
    .logo{
        width: 6rem;
        margin-left: 2rem;
    }
    
    .logo:hover{
        cursor: pointer;
    }

    header{
        display: flex;
    }
    
    
}

