@media(max-width: 900px) {
    .objetivo {
        background: #0d0d0d;
    }
    
    .lg{
        display: flex;
    }
    
    .pob {
        color: #8284FA;
        font-family: Inter;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 2rem;
        text-align: center;
        
    }
    
    .h1ob {
        color: #8284FA;
        font-family: Inter;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
        padding-top: 3rem;
    }
    
    .ob{
        margin-top: 6rem;
        border-radius: 1.875rem;
        background: #0d0d0d;
        width: 22rem;
        height: 44rem;
        margin-left: auto;
        margin-right: auto;
    }
    .ob img{
        margin-top: 2rem;
        width: 18rem;
        margin-left: 0.5rem;
    }
    }

@media(min-width: 900px) {
    header {
        height: 8rem;
    }
    
    .objetivo {
        background: #0d0d0d;
        text-align: center;
        }
    
    .pob {
        text-align: center;
        color: #8284FA;
        font-family: Inter;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0.5rem;
    }
    
    .h1ob {
        color: #8284FA;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .ob p {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
    .ob img{
        margin-top: 2rem;
        margin-left: 17rem;
        margin-right: 17rem;
        width: 30rem;
    }

    .ob{
        border-radius: 1.875rem;
        width: 86.1875rem;
        height: 44rem;
        margin-left: auto;
        margin-right: auto;
        
    }
}