@media(max-width: 900px) {
    .objetivo {
        background: #fff;
        text-align: center;
    }
    
    .lg{
        display: flex;
    }
    
    .pob {
        color: #14093E;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 2rem;
        padding: 2rem;
    }
    
    .h1ob {
        color: #6D4CF3;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .ob{
        margin-top: 6rem;
        border-radius: 1.875rem;
        background: #FFF;
        width: 22rem;
        height: 44rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    }

@media(min-width: 900px) {
    header {
        background: #2e2c29;
        height: 8rem;
    }
    
    .objetivo {
        background: #ffff;
        text-align: center;
        }
    
    .pob {
        
        color: #14093E;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1ob {
        color: #6D4CF3;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .ob{
        margin-top: 2rem;
        border-radius: 1.875rem;
        background: #FFF;
        width: 86.1875rem;
        height: 44rem;
        margin-left: auto;
        margin-right: auto;
    }
}