@media(max-width: 900px) {
    .objetivo {
        background: #0d0d0d;
        text-align: center;
    }
    
    .lg{
        display: flex;
    }
    
    .pob {
        color: #8284FA;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 2rem;
        padding: 2rem;
    }
    
    .h1ob {
        color: #8284FA;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .ob{
        margin-top: 6rem;
        border-radius: 1.875rem;
        background: #0d0d0d;
        width: 22rem;
        height: 44rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    }

@media(min-width: 900px) {
    header {
        height: 8rem;
    }
    
    .objetivo {
        background: #0d0d0d;
        text-align: center;
        }
    
    .pob {
        
        color: #8284FA;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4rem;
    }
    
    .h1ob {
        color: #8284FA;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
          
    }
    
    .ob{
        margin-top: 2rem;
        border-radius: 1.875rem;
        background: #0d0d0d;
        width: 86.1875rem;
        height: 44rem;
        margin-left: auto;
        margin-right: auto;
    }
}